.usuario {
  background-color: #000000;
}

@media (min-width: 768px) {
  .usuario {
    background-color: #000000;
    background-image: unset;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }
}

.titulo {
  text-align: center;
  margin-top: 4rem;
  color: #FFFFFF;
}

.block {
  display: block;
}

.contenido {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .contenido {
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  .contenido {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 1366px) {
  .contenido {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1920px) {
  .contenido {
    max-width: 80%;
    margin: 0 auto;
  }
}

.usuarios {
  text-align: center;
}

@media (min-width: 480px) {
  .usuarios {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.usuarios .user {
  width: 200px;
  margin-top: 1rem;
  border: 2px solid #454545;
  height: 180px;
}

@media (min-width: 480px) {
  .usuarios .user {
    width: 200px;
    margin-top: 1rem;
    border: 2px solid #454545;
    height: 180px;
  }
}

.usuarios .texto {
  text-align: center;
  font-weight: bold;
}

.logotipo-home {
  max-width: 120px;
  margin-left: -30px;
}

@media (min-width: 480px) {
  .logotipo-home {
    max-width: 120px;
    margin-left: 0;
  }
}

.home {
  background-color: #141414;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.home .header-home {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: transparent;
  align-items: center;
  position: relative;
  z-index: 2;
  transition: all 1s;
}

.home .header-home .campo {
  margin-right: 0;
}

@media (min-width: 480px) {
  .home .header-home {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: transparent;
    align-items: center;
    position: relative;
    z-index: 2;
    transition: all 1s;
  }
}

@media (min-width: 1366px) {
  .home .header-home {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
  }
  .home .header-home .campo {
    margin-right: 200px;
  }
}

.home .menu-fixed {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  background-color: #141414;
  transition: all 1s;
}

.logo-menu {
  display: flex;
  margin-left: 0rem;
  align-items: center;
}

@media (min-width: 480px) {
  .logo-menu {
    display: flex;
    margin-left: 2.5rem;
    align-items: center;
  }
}

.menu {
  margin: 0;
  display: none;
}

@media (min-width: 480px) {
  .menu {
    display: flex;
    list-style: none;
  }
  .menu li {
    padding: 1rem;
  }
  .menu li:hover {
    cursor: pointer;
  }
}

.menu p {
  margin: 0;
}

.owl-carousel {
  margin-top: -64px;
}

@media (min-width: 480px) {
  .owl-carousel {
    margin-top: -115px;
  }
}

.absolute {
  position: absolute;
  width: 30%;
  border: 2px solid #b6b6b6;
  background-color: #1c1c1c;
  padding: 0rem;
}

@media (min-width: 480px) {
  .absolute {
    position: absolute;
    width: 30%;
    border: 2px solid #b6b6b6;
    background-color: #1c1c1c;
    padding: .5rem;
  }
}

@media (min-width: 1366px) {
  .absolute {
    position: absolute;
    width: 10%;
    border: 2px solid #b6b6b6;
    background-color: #1c1c1c;
    padding: .5rem;
  }
}

.relative {
  position: relative;
  color: #757575;
  padding: .2rem;
  display: flex;
}

@media (min-width: 480px) {
  .relative {
    position: relative;
    color: #757575;
    padding: .5rem;
    display: flex;
  }
}

.popular {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.item-carousel {
  margin-right: 4px;
  transform: scale(1);
  transition: all .45s;
  position: relative;
}

.item-carousel .hover {
  padding: 1rem;
  box-shadow: 0 2px 2px #000;
  display: none;
}

.item-carousel .hover .contenido-hover {
  display: flex;
  justify-content: space-between;
}

.item-carousel .hover .contenido-hover .lista-hover {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.item-carousel .hover .contenido-hover .lista-hover .espacio-hover {
  margin-right: 30px;
  cursor: pointer;
}

.item-carousel .hover .contenido-hover .boton-mas {
  cursor: pointer;
}

.item-carousel .hover .para-ti {
  color: #46d369;
  margin-right: 18px;
  font-weight: bold;
}

.item-carousel .hover .clasificacion {
  border: 1px solid white;
  margin-right: 18px;
  padding: .5rem;
  font-weight: bold;
}

.item-carousel .hover .tiempo {
  font-weight: bold;
}

.item-carousel .hover .drama {
  margin-right: 18px;
  font-weight: bold;
}

.item-carousel:hover {
  transform: scale(1);
  position: relative;
  z-index: 2;
}

@media (min-width: 480px) {
  .item-carousel:hover {
    transform: scale(1.2);
    position: relative;
    z-index: 2;
  }
}

.item-carousel:first-child {
  transform-origin: center left;
}

.item-carousel:last-child {
  transform-origin: center right;
}

.item-carousel:hover .hover {
  display: none;
}

@media (min-width: 480px) {
  .item-carousel:hover .hover {
    display: block;
    transform: scale(1);
  }
}

.owl-dots {
  display: none;
}

.slick-prev {
  display: none !important;
}

.slick-next {
  display: none !important;
}

.tamano-main {
  max-width: 100%;
  height: 200px;
}

@media (min-width: 480px) {
  .tamano-main {
    max-width: 100%;
    height: 850px;
  }
}

@media (min-width: 1366px) {
  .tamano-main {
    max-width: 100%;
    height: 625px;
  }
}

@media (min-width: 1920px) {
  .tamano-main {
    max-width: 100%;
    height: 850px;
  }
}

.tamano-secundario {
  max-width: 100%;
  height: 100px;
  border-radius: 8px;
}

@media (min-width: 480px) {
  .tamano-secundario {
    max-width: 100%;
    height: 220px;
    border-radius: 8px;
  }
}

@media (min-width: 1366px) {
  .tamano-secundario {
    max-width: 100%;
    height: 178px;
    border-radius: 8px;
  }
}

@media (min-width: 1920px) {
  .tamano-secundario {
    max-width: 100%;
    height: 220px;
    border-radius: 8px;
  }
}

.centrado {
  text-align: center;
}

.footer-home {
  padding: unset;
  max-width: unset;
  padding-bottom: 2rem;
}

@media (min-width: 480px) {
  .footer-home {
    padding: 70px 45px;
    margin: 0 auto;
    max-width: 80%;
  }
  .footer-home p {
    padding: 0;
    margin: 0 0 30px;
    font-size: 1.2rem;
  }
}

.footer-home p {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.footer-home .footer-links {
  max-width: 1000px;
  font-size: 16px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer-home .footer-links .footer-link-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 16px;
  display: inline-block;
  min-width: 100px;
  width: 25%;
  padding-right: 12px;
  vertical-align: top;
}

footer p {
  font-size: 12px;
}

.modal-contenido {
  background-color: #181818;
  width: 60%;
  margin: 10% auto;
  position: relative;
}

.modal-contenido .contenido-imagen {
  position: relative;
  display: inline-block;
}

.modal-contenido .contenido-imagen .close {
  position: absolute;
  margin: 1rem 1rem;
}

.modal-contenido .contenido-imagen .texto-imagen {
  position: absolute;
  top: 70%;
  left: 22%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1366px) {
  .modal-contenido .contenido-imagen .texto-imagen {
    position: absolute;
    top: 70%;
    left: 29%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1920px) {
  .modal-contenido .contenido-imagen .texto-imagen {
    left: 22%;
  }
}

.modal-contenido .contenido-imagen .texto-imagen .n-netflix {
  width: 10%;
  margin-right: .5rem;
}

.modal-contenido .contenido-imagen .texto-imagen .serie {
  font-size: 20px;
  letter-spacing: .3rem;
}

.modal-contenido .contenido-imagen .texto-imagen .parrafo-imagen {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.modal-contenido .contenido-imagen .texto-imagen .duracion {
  display: flex;
  align-items: center;
}

.modal-contenido .contenido-imagen .texto-imagen .duracion .progreso {
  height: 2px;
  display: block;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 10px;
  flex-grow: 1;
  margin-top: 20px;
}

.modal-contenido .contenido-imagen .texto-imagen .duracion .progreso span {
  width: 87%;
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: #e50914;
}

.modal-contenido .contenido-imagen .texto-imagen .duracion .tiempo {
  font-weight: bold;
  margin-top: 20px;
  margin-left: 10px;
}

.modal-contenido .contenido-modal {
  padding: 2rem 2rem;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
  overflow-y: auto;
}

#miModal:target {
  opacity: 1;
  pointer-events: auto;
  z-index: 3;
}

.modal-acciones {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-acciones .accion-play {
  padding: 10px 0px;
  font-size: 16rem;
  font-weight: 700;
}

.modal-acciones .boton-rectangular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 14px;
  font-size: 12px;
  border-radius: 4px;
  background-color: #fff;
  border: none;
}

.modal-acciones .boton-rectangular .fa-play {
  margin-right: 10px;
}

@media (min-width: 480px) {
  .modal-acciones .boton-rectangular {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 28px;
    font-size: 22px;
    border-radius: 4px;
    background-color: #fff;
    border: none;
  }
  .modal-acciones .boton-rectangular .fa-play {
    margin-right: 20px;
  }
}

.modal-acciones .right {
  margin-right: 20px;
}

.detalles-modal {
  display: flex;
}

.detalles-modal .detalles {
  display: flex;
  flex: 0 0 70%;
}

.detalles-modal .metadatos {
  display: flex;
  flex: 0 0 30%;
}

.detalle-episodio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.detalle-episodio .temporadas {
  padding: 9px 18px;
  background-color: #242424;
  border: .1em solid #4d4d4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  border-radius: 4px;
  color: white;
}

.detalle-episodio .temporadas p {
  margin: 0;
  margin-right: 10px;
}

.episodios {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.episodios .numero-episodio {
  padding: 1rem;
  font-weight: bold;
  font-size: 20px;
}

.episodios .imagen-episodio {
  padding: 1rem;
}

.episodios .datos-episodio {
  padding: 1rem;
}

.episodios .datos-episodio .titulo-episodio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  position: relative;
}

.item .texto-imagen-serie {
  position: absolute;
  top: 80%;
  left: 22%;
  transform: translate(-50%, -50%);
}

@media (min-width: 480px) {
  .item .texto-imagen-serie {
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1366px) {
  .item .texto-imagen-serie {
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1920px) {
  .item .texto-imagen-serie {
    top: 60%;
  }
}

.item .texto-imagen-serie .n-netflix {
  display: none;
}

@media (min-width: 480px) {
  .item .texto-imagen-serie .n-netflix {
    width: 3%;
    margin-right: .5rem;
    margin-bottom: 10px;
    display: block;
  }
}

.item .texto-imagen-serie .serie {
  display: none;
}

@media (min-width: 480px) {
  .item .texto-imagen-serie .serie {
    font-size: 20px;
    letter-spacing: .3rem;
    display: block;
  }
}

.item .texto-imagen-serie .parrafo-imagen {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

@media (min-width: 480px) {
  .item .texto-imagen-serie .parrafo-imagen {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
  }
}

.item .texto-imagen-serie .duracion {
  display: flex;
  align-items: center;
}

.item .texto-imagen-serie .boton-rectangular-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 14px;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(89, 89, 89, 0.7);
  border: none;
  margin-left: 1rem;
  color: white;
  cursor: pointer;
  display: none;
}

.item .texto-imagen-serie .boton-rectangular-info .fa-info {
  margin-right: 20px;
}

@media (min-width: 480px) {
  .item .texto-imagen-serie .boton-rectangular-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 28px;
    font-size: 22px;
    border-radius: 4px;
    background-color: rgba(89, 89, 89, 0.7);
    border: none;
    margin-left: 1rem;
    color: white;
    cursor: pointer;
  }
  .item .texto-imagen-serie .boton-rectangular-info .fa-info {
    margin-right: 20px;
  }
}

.item .texto-imagen-serie .popular {
  display: none;
}

@media (min-width: 480px) {
  .item .texto-imagen-serie .popular {
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: 700;
    display: block;
  }
}

.item .texto-imagen-serie .sinopsis {
  display: none;
}

@media (min-width: 480px) {
  .item .texto-imagen-serie .sinopsis {
    width: 40%;
    font-size: 18px;
    font-weight: bold;
    display: block;
  }
}

.item .texto-imagen-serie .modal-acciones {
  display: flex;
  align-items: center;
  justify-content: unset;
}

.otro-background {
  background-image: url(../assets/bg.jpg);
  height: 95vh;
}

.borde-inferior {
  border-bottom: 10px solid #454545;
}

select {
  display: none;
}

@media (min-width: 480px) {
  select {
    margin-top: 2rem;
    appearance: none;
    padding: 1rem 3rem;
    border: 1px solid #454545;
    border-radius: 5px;
    font-size: .8rem;
    background-color: #000000;
    color: #8C8C8C;
    height: 50px;
    display: block;
  }
}

.submit-boton {
  margin-top: 2rem;
}

.submit-boton input[type="submit"] {
  background-color: #E50913;
  color: #FFFFFF;
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem 0;
  margin-left: 10px;
}

.submit-boton input[type="submit"]:hover {
  cursor: pointer;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 480px) {
  header {
    display: flex;
    justify-content: space-between;
  }
}

header .orden {
  display: flex;
}

.contenido-main {
  text-align: center;
  width: unset;
  margin: auto;
  padding-top: 70px;
}

@media (min-width: 480px) {
  .contenido-main {
    text-align: center;
    width: 950px;
    margin: 0 auto;
    padding-top: 70px;
  }
}

@media (min-width: 1366px) {
  .contenido-main {
    text-align: center;
    width: 950px;
    margin: 0 auto;
    padding-top: 0px;
  }
}

@media (min-width: 1920px) {
  .contenido-main {
    text-align: center;
    width: 950px;
    margin: 0 auto;
    padding-top: 70px;
  }
}

.contenido-main .titulo-main {
  font-size: 2rem;
}

@media (min-width: 480px) {
  .contenido-main .titulo-main {
    font-size: 4.3rem;
  }
}

@media (min-width: 1366px) {
  .contenido-main .titulo-main {
    font-size: 2.3rem;
  }
}

@media (min-width: 1920px) {
  .contenido-main .titulo-main {
    font-size: 4.3rem;
  }
}

.contenido-main .subtitulo-main {
  font-size: 1.625rem;
  margin-bottom: 3rem;
}

.contenido-form {
  display: block;
  justify-content: center;
}

@media (min-width: 480px) {
  .contenido-form {
    display: flex;
    justify-content: center;
  }
}

.contenido-form .input-email {
  min-width: 100%;
  height: 4rem;
  margin-top: 2rem;
}

@media (min-width: 480px) {
  .contenido-form .input-email {
    min-width: 450px;
    height: 4rem;
    margin-top: 2rem;
  }
}

.contenido-form .submit-comenzar {
  margin-top: 2rem;
  margin-left: 16%;
}

@media (min-width: 480px) {
  .contenido-form .submit-comenzar {
    margin-left: 0;
  }
}

.contenido-form .submit-comenzar input[type="submit"] {
  background-color: #E50913;
  color: #FFFFFF;
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 228px;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem 1rem;
  height: 4rem;
}

.contenido-form .submit-comenzar input[type="submit"]:hover {
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 480px) {
  .contenido-form .submit-comenzar input[type="submit"] {
    background-color: #E50913;
    color: #FFFFFF;
    display: block;
    text-align: center;
    text-decoration: none;
    border: none;
    width: 228px;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem 1rem;
    height: 4rem;
  }
  .contenido-form .submit-comenzar input[type="submit"]:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.disfruta {
  background-color: #000000;
}

.disfruta .contenedor h2 {
  margin: 0;
}

.disfruta .contenedor .tv {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  justify-content: space-around;
}

@media (min-width: 480px) {
  .disfruta .contenedor .tv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    justify-content: space-around;
  }
}

@media (min-width: 1366px) {
  .disfruta .contenedor .tv {
    padding: 30px;
  }
}

@media (min-width: 1920px) {
  .disfruta .contenedor .tv {
    padding: 80px;
  }
}

.disfruta .contenedor .tv .smart {
  width: 100%;
}

@media (min-width: 480px) {
  .disfruta .contenedor .tv .smart {
    width: 52%;
  }
}

@media (min-width: 1366px) {
  .disfruta .contenedor .tv .smart {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1920px) {
  .disfruta .contenedor .tv .smart {
    padding-left: 0;
  }
}

.disfruta .contenedor .tv .smarttv {
  font-size: 2.125rem;
  line-height: 1.1;
  margin-bottom: .5rem;
  width: 100%;
  text-align: center;
}

@media (min-width: 480px) {
  .disfruta .contenedor .tv .smarttv {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
    width: 52%;
  }
}

@media (min-width: 1366px) {
  .disfruta .contenedor .tv .smarttv {
    text-align: left;
    width: 100%;
  }
}

@media (min-width: 1920px) {
  .disfruta .contenedor .tv .smarttv {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
    width: 52%;
  }
}

.disfruta .contenedor .tv .smarttv-offline {
  font-size: 2.125rem;
  line-height: 1.1;
  margin-bottom: .5rem;
  width: 100%;
}

@media (min-width: 480px) {
  .disfruta .contenedor .tv .smarttv-offline {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
    width: 60%;
  }
}

@media (min-width: 1366px) {
  .disfruta .contenedor .tv .smarttv-offline {
    width: 100%;
  }
}

@media (min-width: 1920px) {
  .disfruta .contenedor .tv .smarttv-offline {
    width: 60%;
  }
}

.disfruta .contenedor .tv .smarttv-donde {
  font-size: 2.125rem;
  line-height: 1.1;
  margin-bottom: .5rem;
  text-align: center;
}

@media (min-width: 480px) {
  .disfruta .contenedor .tv .smarttv-donde {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
    text-align: left;
  }
}

.disfruta .contenedor .tv .opciones-reproduccion {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 480px) {
  .disfruta .contenedor .tv .opciones-reproduccion {
    font-size: 1.625rem;
    font-weight: 400;
    text-align: inherit;
  }
}

.disfruta .contenedor .tv .tamano-index {
  max-width: 600px;
  max-height: 320px;
}

.disfruta .contenedor .tv iframe {
  width: 100%;
}

@media (min-width: 480px) {
  .disfruta .contenedor .tv iframe {
    width: 560px;
    height: 315px;
  }
}

.preguntas {
  background-color: #000000;
  padding-bottom: 2rem;
}

.preguntas .contenedor {
  padding: 0px;
}

@media (min-width: 480px) {
  .preguntas .contenedor {
    padding: 80px;
  }
}

.preguntas .contenedor h2 {
  margin: 0;
}

.preguntas .contenedor h3 {
  text-align: center;
}

.preguntas .contenedor .preguntas-frecuentes {
  text-align: center;
  font-size: 2.125rem;
  line-height: 1.1;
  margin-bottom: .5rem;
  padding-top: 1.5rem;
}

@media (min-width: 480px) {
  .preguntas .contenedor .preguntas-frecuentes {
    text-align: center;
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
    padding-top: unset;
  }
}

.preguntas .contenedor .lista-preguntas {
  width: 100%;
  margin: 2em auto;
  font-size: 1.625rem;
  font-weight: 400;
  padding: 0;
}

@media (min-width: 480px) {
  .preguntas .contenedor .lista-preguntas {
    width: 75%;
    margin: 2em auto;
    font-size: 1.625rem;
    font-weight: 400;
  }
}

.preguntas .contenedor .lista-preguntas .estandar-li {
  list-style: none;
  margin: 0 0 8px 0;
}

.preguntas .contenedor .lista-preguntas .estandar-li .button-li {
  padding: .8em 2.2em .8em 1.2em;
  margin-bottom: 1px;
  font-weight: 400;
  position: relative;
  width: 100%;
  border: 0;
  text-align: left;
  background-color: #454545;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.preguntas .contenedor .lista-preguntas .estandar-li .button-li p {
  margin: 0;
}

.preguntas .contenedor .lista-preguntas .estandar-li .button-li i {
  display: flex;
  align-self: center;
}

.preguntas .contenedor .lista-preguntas .card-abierta {
  background-color: #454545;
}

.preguntas .contenedor .lista-preguntas .card-abierta .estilos-span {
  padding: 1.2em;
  display: inline-block;
  text-align: left;
}

.color-footer {
  background-color: #000000;
}

.color-footer .footer {
  padding: unset;
  max-width: unset;
  padding-bottom: 2rem;
}

@media (min-width: 480px) {
  .color-footer .footer {
    padding: 70px 45px;
    margin: 0 auto;
    max-width: 80%;
  }
  .color-footer .footer p {
    padding: 0;
    margin: 0 0 30px;
    font-size: 1.2rem;
  }
}

.color-footer .footer p {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.color-footer .footer .footer-links {
  max-width: 1000px;
  font-size: 16px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.color-footer .footer .footer-links .footer-link-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 16px;
  display: inline-block;
  min-width: 100px;
  width: 25%;
  padding-right: 12px;
  vertical-align: top;
}

.panel {
  display: none;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

img {
  width: 100%;
}

a:hover {
  text-decoration: none !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}

.background-inicio {
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .background-inicio {
    background-color: unset;
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: auto;
  }
}

a {
  color: #8C8C8C;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
}

.alerta {
  color: #E87C03;
  display: block;
  margin-bottom: .4rem;
  padding: .2rem;
  font-size: .8rem;
  text-align: center;
}

input.no-valido {
  border-bottom: 2px solid #E87C03 !important;
}

.logotipo {
  max-width: 150px;
}

@media (min-width: 768px) {
  .logotipo {
    max-width: 200px;
  }
}

@media (min-width: 768px) {
  .formulario-login {
    background-color: rgba(0, 0, 0, 0.85);
    max-width: 450px;
    padding: 2rem 4rem;
    margin: 1rem auto 4rem auto;
  }
}

form legend {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
}

form .campo {
  display: flex;
  position: relative;
  margin-bottom: .8rem;
}

form .campo label {
  position: absolute;
  top: 1.1rem;
  left: 1rem;
  transition: font-size .2s ease, top .2s ease;
}

form .campo label.valido {
  font-size: .6rem;
  top: .5rem;
}

form .campo input {
  flex: 1;
  padding: 1.3rem 1rem .7rem 1rem;
  border: none;
  background-color: #323232;
  border-radius: 5px;
  color: #FFFFFF;
}

form .campo input:focus {
  background-color: #454545;
  outline: none;
}

form .campo input:focus + label {
  font-size: .6rem;
  top: .5rem;
}

form .submit {
  display: flex;
  margin-top: 2rem;
}

form .submit input[type="submit"] {
  background-color: #E50913;
  color: #FFFFFF;
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem 0;
}

form .submit input[type="submit"]:hover {
  cursor: pointer;
}

form .acciones {
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;
  margin-top: .5rem;
  margin: .5rem 0 8rem 0;
}

form .acciones label, form .acciones a {
  font-size: .8rem;
  text-decoration: none;
}

.contenido-inferior {
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .contenido-inferior {
    padding-bottom: 0;
  }
}

.contenido-inferior a {
  font-size: .8rem;
}

.contenido-inferior .nuevo-usuario {
  font-size: 1rem;
  margin-top: 1rem;
  display: flex;
}

.contenido-inferior .nuevo-usuario a {
  color: #FFFFFF;
  margin-left: .5rem;
  font-size: 1rem;
}

.footer {
  border-top: 1px solid #8C8C8C;
  padding: 2rem 0 4rem 0;
}

@media (min-width: 768px) {
  .footer {
    border-top: unset;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 1rem 0 3rem 0;
  }
}

@media (min-width: 768px) {
  .footer .contenedor {
    max-width: 50%;
  }
}

.footer .menu-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 1366px) {
  .footer .menu-footer {
    max-width: 60%;
  }
}

.footer .menu-footer a {
  flex: 0 0 auto;
  font-size: .8rem;
  margin-right: 2rem;
  padding: .5rem 0;
}

.footer .menu-footer a:last-of-type {
  margin-right: 0;
}

.footer select {
  margin-top: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1rem 3rem;
  border: 1px solid #454545;
  border-radius: 5px;
  font-size: .8rem;
  background-color: #000000;
  color: #8C8C8C;
}
