//Fuentes 

$fuentePrincipal: Arial, Helvetica, sans-serif;

//Media queries
$telefono: 480px;
$tablet: 768px;
$desktop:1366px;
$hd:1920px;

//Colores
$primario: #E50913;
$secundario: #E87C03;
$gris: #323232;
$gris2:#8C8C8C;
$gris3: #454545;
$blanco: #FFFFFF;
$negro: #000000;

$radius: 5px;
