h1 {
    margin-top: 30px;    
    font-size: 2.6rem;
    text-align: center;
    font-family: 'MyWebFont', Fallback, sans-serif;
    color: #fff;
}
h2,h3 {
    margin: 1rem;
    font-size: 1.8rem;    
    text-align: center;
    font-weight: 500;
    font-family: 'MyWebFont', Fallback, sans-serif;
    color: #fff;
}
p{   
    margin-bottom: 30px;
    font-size: 1.6rem; 
    font-family:'MyWebFont', Fallback, sans-serif;
    color:#757575;
    a{
        text-decoration: none;
        color: #757575;
    }
}
ul {
   
    li { 
        width: 49%;
        list-style: none;
        display: inline-block;
        min-width: 100px;
        padding-right: 20px;
        margin-bottom: 16px;
        font-size: 1.4rem;
        a {
            text-decoration: none;
            font-family:'MyWebFont', Fallback, sans-serif;
            color: #757575;
            
        }
    }
}